<div class="container-fluid">
  <div class="table-responsive" style="margin-top: 20px;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Horario</th>
          <% days.each_with_index do |name| %>
            <th><%= name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% hours.each do |hour| %>
         <tr>
           <th scope="row"><%= hour %></th>
           <% days.each_with_index do |name, day_id| %>
             <% scheduling = resolve_schedule(hour, day_id) %>
             <% if scheduling.present? %>
               <td>Reservado para <%= scheduling.user.name %></td>
             <% else %>
                <% if user_signed_in? %>
                  <td>
                    <%= link_to "Disponível",
                       schedule_room_week_path(1, 1), 
                       class: "sched",
                       "data-hour": hour,
                       "data-day_id": day_id         
                    %>
                </td>
                <% else %>
                  <td>Disponivel</td>
                <% end %>
             <% end %>
           <% end %>
         </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
